@page "/PostShow/{Id:int}"
@model devBlog.Pages.PostShowModel
@{
}


<div>
    <p>Overskift: @Model.post.Overskrift</p>
    <p>Title: @Model.post.BrødText</p>
    <p>Forfatter: @Model.post.Forfatter.ForNave @Model.post.Forfatter.EfterNavn</p>
    <p>Link: <a hfer="@Model.post.Links[0]">link</a></p>
    <p>File: @Model.post.Filer[0]</p>
    @*TODO: change links and files to be able to add more then 1*@
    @*@Model.post.Tags*@

</div>


